@model IEnumerable<Biblioteka.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentalState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PESEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentalState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rentalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rentalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rentalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
