@model Biblioteka.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.title)</h1>

<h4>Numer ISBN @Html.DisplayFor(model => model.ISBN)</h4>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img src="@Html.DisplayFor(model => model.bookPhoto)" class="img-fluid" style="border-radius: 8px; object-fit: cover;" />
        </div>

        <div class="col-md-9">
            <dl class="row">
                <dt class="col-sm-3">Autorzy:</dt>
                <dd class="col-sm-9">
                    @if (Model.authors != null)
                    {
                        @foreach (var author in Model.authors)
                        {
                            <a>@author.name  @author.surname</a>
                            <br />
                        }
                    }
                </dd>
                <dt class="col-sm-3">Kategoria:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.category.catName)</dd>
                <dt class="col-sm-3">Data wydania:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.releaseDate)</dd>
                @if (!User.IsInRole("Admin") && !User.IsInRole("Employee"))
                {
                    <button id="toBasket" onclick="addProduct(@Model.bookId, @Model.stockLevel)" class="customButton">Dodaj do koszyka</button>
                }
            </dl>
        </div>
    </div>
    <div class="col-sm-12">
        <dt>Opis:</dt>
        <dd>@Html.DisplayFor(model => model.description)</dd>
    </div>
    <div class="col-sm-12">
        @if (Model.fileAsString != null)
        {
            <button id="btnDownloadPdf" data-pd="@Model.fileAsString" class="customButton">Pobierz PDF z skrótem książki</button> <span>|</span>
        }
        @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.bookId" class="customButton">Edytuj</a> <span>|</span>
        }
        <a asp-action="Index" class="customButton">Wróć do listy książek</a>
    </div>
</div>



<dialog id="dialog1">
	<p>Produkt został dodany do koszyka</p>
	<form id="form1" method="dialog">
		<div>
			<input type="submit" value="OK">
		</div>
	</form>
</dialog>

<dialog id="dialog2">
    <p>
        Przykro nam, ale danej książki nie ma na stanie.
        Zaloguj się, żeby zapisać się do kolejki.
    </p>
    <form id="form2" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>

<dialog id="dialog3">
    <h2>
        Produkt jest niedostępny.
    </h2>
    <p>
        Czy chcesz zapisać się do kolejki?
    </p>
    <form id="form3" method="dialog">
        <div>
            <input type="submit" value="OK">
            <input type="reset" value="Anuluj">
        </div>
    </form>
</dialog>

<dialog id="dialog4">
    <p>
        Pomyślnie dodano do kolejki.
    </p>
    <form id="form4" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>

<dialog id="dialog5">
    <p>
        Przykro nam ale najpierw musisz oddać wypożyczone książki.
    </p>
    <form id="form5" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>


<script>
    var userId = @Html.Raw(Json.Serialize(ViewData["userId"]));
    var pdfBytesBase64 = @Html.Raw(Json.Serialize(ViewData["fileAsString"]));
    var bookTitleForPDF = @Html.Raw(Json.Serialize(ViewData["bookTitle"]));
</script>
<script src="~/lib/js-scripts/pdfDownload.js"></script>
<script src="~/lib/js-scripts/addProduct.js"></script>