@model IEnumerable<Biblioteka.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

@* <script src="js/jquery3.js"></script> *@

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Selectize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap2.css">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Selectize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="~/css/home_index.css">
    <script src="~/js/home_index.js"></script>

</head>


<div class="text-center">

    <h1 class="display-4">Witamy</h1>
    <br />

    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model.TakeLast(3))  // Pobranie 3 ostatnich elementów
                {
                    <div class="swiper-slide">
                        <div class="col-md-4">
                            <a href="@Url.Action("Details", "Books", new { id = item.bookId })">
                                <img src="@item.bookPhoto" alt="Book Photo" />
                            </a>
                        </div>
                        <div class="col-md-4">
                            <div class="bookTitle">@Html.DisplayFor(modelItem => item.title)</div>
                            <div class="catName">@Html.DisplayFor(modelItem => item.category.catName)</div>
                            <div class="bookAuthors">
                                @if (item.authors != null)
                                {
                                    @foreach (var author in item.authors)
                                    {
                                        <a>@author.name  @author.surname</a>
                                        <br />
                                    }
                                }
                            </div>
                        </div >
                    </div>
                }
            }
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <br />
    <br />
    <br />

    <form id="searchForm" action="/Home/Index" method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="checkbox">Filtruj: </label><br>
                    <input type="checkbox" id="year1" name="year2021" value="2021" class="checkboxFilter">
                    <label for="year2021"> 2021</label>
                    <input type="checkbox" id="year2" name="year2022" value="2022" class="checkboxFilter">
                    <label for="year2022"> 2022</label>
                    <input type="checkbox" id="year3" name="year2023" value="2023" class="checkboxFilter">
                    <label for="year2023"> 2023</label>
                    <input type="checkbox" id="year4" name="year2024" value="2024" class="checkboxFilter">
                    <label for="year2024"> 2024</label><br>
                    @if(ViewData["categories"]!=null)
                    {
                        var i = 0;
                        @foreach(var element in ViewData["categories"] as IList<Category>)
                        {
                            @if(i!=0 && i%4==0)
                            {
                                <br>
                            }
                            <input type="checkbox" id="@element.catName" name="cat @i" value="@element.catName" class="checkboxFilter">
                            <label for="cat @i"> @element.catName</label>
                            i = i + 1;                            
                        }
                        <br>
                    }
                    <button type="button" class="customButton" onclick="filterElements()">Filtruj</button>
                   
                </div>
                <div class="col-md-4">
                    <select id="select-to" class="contacts" placeholder="Szukaj..."></select>
                </div>
                <div class="col-md-1">
                    <a href="#" id="Search" class="btn btn-dark" onclick="submitSearchForm()">Szukaj</a>
                </div>
                <!-- Ukryte pole do przechowywania wybranych wartości -->
                <input type="hidden" id="selectedBooksInput" name="selectedBooks" value="">
                <div class ="col-md-3">
                    <label for="sortSelect">Sortuj według: </label>
                    <select id="sortSelect">
                        <option value="0">Tytuł A-Z</option>
                        <option value="1">Tytuł Z-A</option>
                        <option value="2">Najnowsze</option>
                        <option value="3">Najstarsze</option>                      
                    </select>
                </div>
            </div>
        </div>
    </form>  

    <div style="width: 90%; margin: auto;">
        @foreach (var item in Model)
        {
            <div class="okienko">
                <a href="@Url.Action("Details", "Books", new { id = item.bookId })">
                    <img src="@item.bookPhoto" alt="Book Photo" />
                </a><br />
                <span class="booktitle">@Html.DisplayFor(modelItem => item.title)</span>
                <span class="category">@Html.DisplayFor(modelItem => item.category.catName)</span><br />
                <span class="releaseDatehidden">@Html.DisplayFor(modelItem => item.releaseDate)</span>
                @if(item.authors!=null)
                {
                    @foreach (var author in item.authors)
                    {
                        <a>@author.name  @author.surname</a>
                        <br />
                    }
                }
                @if (item.tags != null)
                {
                    @foreach (var tag in item.tags)
                    {
                        if(tag == item.tags.Last())
                        {
                            <a>@tag.tagName</a>
                        }
                        else 
                        {
                            <a>@tag.tagName, </a>
                        }                        
                    }
                }
                @* @string.Join(", ", item.authors.Select(rb => rb.name + rb.surname)) *@
                @if (!User.IsInRole("Admin") && !User.IsInRole("Employee"))
                {
                    <button id="toBasket" class="customButton" onclick="addProduct(@item.bookId, @item.stockLevel)">Dodaj do koszyka</button>
                }

                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-link customButton" asp-area="" asp-controller="Books" asp-action="Edit" asp-route-id="@item.bookId">Edytuj</a>
                    <a class="nav-link customButton" asp-area="" asp-controller="Books" asp-action="Delete" asp-route-id="@item.bookId">Usuń</a>
                }               
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<br />

<dialog id="dialog2">
    <p>Przykro nam, ale danej książki nie ma na stanie.
        Zaloguj się, żeby zapisać się do kolejki.
    </p>
    <form id="form2" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>

<dialog id="dialog1">
    <p>Produkt został dodany do koszyka</p>
    <form id="form1" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>

<dialog id="dialog3">
    <h2>Produkt jest niedostępny.       
    </h2>
    <p>
        Czy chcesz zapisać się do kolejki?
    </p>
    <form id="form3" method="dialog">
        <div>
            <input type="submit" value="OK">
            <input type="reset" value="Anuluj">
        </div>
    </form>
</dialog>

<dialog id="dialog4">
    <p>
        Pomyślnie dodano do kolejki.
    </p>
    <form id="form4" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>

<dialog id="dialog5">
    <p>
        Przykro nam ale masz za dużo książek w koszyku.
    </p>
    <form id="form5" method="dialog">
        <div>
            <input type="submit" value="OK">
        </div>
    </form>
</dialog>


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/bootstrap/dist/js/selectize.js"></script>

    <script type="text/javascript">
        var userId = @Html.Raw(Json.Serialize(ViewData["userId"]));
        var limits = @Html.Raw(Json.Serialize(ViewData["limits"]));

        const swiper = new Swiper('.swiper', {
            // Optional parameters
            //direction: 'vertical',
            //loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

        </script>
}

